editor-grid grid-cell {
    border: 1px solid red;
}

body {
    margin: 0px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
}

editor-grid {
    display: block;
    height: calc( 100% - 2px );
    border: 1px solid blue;
}